body {
    color: #616161;
    overflow-x: hidden;
    height: 100%;
    background-color: #ECEFF1;
    background-repeat: no-repeat
}

.card-strip {
    background-color: #fff;
    padding: 25px;
    width: 950px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px #E0E0E0
}

.dark-text {
    color: #000
}

.extended-title {
    color: #757575;
    background-color: #E0E0E0;
    padding: 1px 5px
}

.fa-star {
    color: #E0E0E0
}

.fa-star.active {
    color: #FFC400
}

.green-block {
    color: #00695C;
    background-color: #B2DFDB;
    padding: 3px 20px;
    border-radius: 2px
}

.comp-logo {
    width: 70px;
    height: 80px
}

.v-line {
    width: 1px;
    background-color: #E0E0E0;
    margin-right: 50px
}

.blue-text {
    color: #00B8D4
}

.price-fall {
    font-size: 17px
}

.btn-orange {
    background-color: #FF9800;
    color: #fff
}

@media screen and (max-width: 1012px) {
    .card-strip {
        width: 100%
    }
}

@media screen and (max-width: 859px) {
    .v-line {
        display: none
    }

    .price {
        width: 100%;
        margin-left: 95px
    }
}

@media screen and (max-width: 529px) {
    .price {
        margin-left: 0px
    }
}

.float {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}
.status{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3em 0 0 3rem;
    border-color: transparent transparent transparent #007bff;
    margin-left: 0;
    margin-bottom: 0;
}
.yellow-dot{
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    animation: blinker 1.0s linear infinite;
}
.green-dot {
    height: 25px;
    width: 25px;
    background-color: lawngreen;
    border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    animation: blinker 2.5s linear infinite;
}
.red-dot{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.sold_out {
    left: 10.3em;
    color: #fff;
    display: block;
    position:absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    -webkit-transform: rotate(-45deg) scale(0.75,1);
    z-index:10;
}
.sold_out:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}