# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\O\OneDrive - Instituto Tecnologico y de Estudios Superiores de Monterrey\Documents\School\ITESM\6° Semester\Web\Intellij\final project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
